<select class="field" id="budgetDropdown">
  <option value="" disabled selected>Select a Budget</option>
  {{#each budgets}}
    <option value="{{id}}">{{budget_name}}</option>
  {{/each}}
</select>





