<section>
  <canvas id="income-chart" class="form-container"></canvas>
  <canvas id="expense-chart" class="form-container"></canvas>
</section>
<section>
  <canvas id="income-bar-chart" class="form-container"></canvas>
   <canvas id="expense-bar-chart" class="form-container"></canvas>
</section>

<script src="/js/budgetAnalysis.js"></script>