 <section>
<div class="budget-container">
  <div class="create-budget">
    <form class="income">
        <h2>Income</h2>
      <label>Income Name</label>
      <input type="text" id="income-name" class="field" placeholder="Enter income name">
      <label>Income Amount</label>
      <input type="text" id="income-amount" class="field" placeholder="Enter income amount">
      <label>Category</label>
      <input type="text" id="income-category" class="field" placeholder="Enter category">
      <label>Description</label>
      <textarea class="field area" id="income-desc" placeholder="Enter income description"></textarea>
      <button class="income-btn" type="submit">Add Income</button>
    </form>
    <form class="expense">
      <h2>Expenses</h2>
      <label>Expense Name</label>
      <input type="text" id="expense-name"class="field" placeholder="Enter expense name">
      <label>Expense Amount</label>
      <input type="text" id="expense-amount" class="field" placeholder="Enter expense amount">
      <label>Category</label>
      <input type="text" id="expense-category" class="field" placeholder="Enter category">
      <label>Description</label>
      <textarea class="field area" id="expense-desc" placeholder="Enter expense description"></textarea>
      <button class="expense-btn" type="submit">Add Expense</button>
    </form>
  </div>
</div>
</section> 



<script src="/js/index.js"></script>
<script src="/js/expense.js"></script>
<script src="/js/income.js"></script>