 <section>
<div class="create-budg-container">
  <form class="form create-budget">
    <div class="income">
        <h2>Income</h2>
      <label>Income Name</label>
      <input type="text" class="field" placeholder="Enter income name">
      <label>Income Amount</label>
      <input type="text" class="field" placeholder="Enter income amount">
      <label>Description</label>
      <textarea class="field area" placeholder="Enter income description"></textarea>
      <button class="expense-btn" type="button">Add Income</button>
    </div>
    <div class="expense">
      <h2>Expenses</h2>
      <label>Expense Name</label>
      <input type="text" class="field" placeholder="Enter expense name">
      <label>Expense Amount</label>
      <input type="text" class="field" placeholder="Enter expense amount">
      <label>Description</label>
      <textarea class="field area" placeholder="Enter expense description"></textarea>
      <button class="expense-btn" type="button">Add Expense</button>
    </div>
  </form>
</div>
</section> 

<script src="/js/index.js"></script>