<div class="create-budget-container">
<h1>Create Budget</h1>
<form class="form create-budget">
    <label></label>
<div class="income">

    <div class="submit-income">

    </div>
</div>
<div class="expense">

    <div class="submit-expense">
        <button type="submit"></button>
    </div>

</div>
</form>
</div>