

<h2 class="p-2 m-4">Login</h2>
<form class="form login-form">
  <div class="form-group p-2 m-4">
    <label for="email-login">email:</label>
    <input class="form-input width-2" type="text" id="email-login" />
  </div>
  <div class="form-group p-2 m-4">
  <card></card>
  </div>
  <div class="form-group p-2 m-4">
    <button class="btn btn-primary" type="submit">login</button>
  </div>
  <div class="form-group p-2 m-4">
    {{!-- <a href="/signup">
    <button id="signUp">Sign up instead</button> 
    --}}
    </a>
  </div>
</form>

<script src="/js/login.js"></script>