<section class="welcome-page">
  <div class="welcome-logo-container">
    <a href="/login"><img
        class="welcome-logo"
        src="/images/logo.png"
        alt="WealthWise logo"
      /></a>
  </div>
  <div class="welcome-text-container">
    <p class="welcome-text">Step into a brighter financial future with
      WealthWise, your trusted budget planner. Empowering you to take control of
      your finances and pave the path to prosperity. Discover the art of mindful
      spending, efficient saving, and smart financial choices. Let WealthWise be
      your guide on the journey to financial wellness, where every dollar finds
      purpose and every dream becomes attainable.<br><br> Click the Logo to start your
      journey!</p>
  </div>
</section>