<section class="login-form-container">
  <h2 class="p-2 m-4">Login</h2>
  <form class="form login-form">
    <div class="form-group p-2 m-4">
      <label for="user-login">Email/Username</label>
      <input class="form-input width-2" type="text" id="user-login" />
    </div>
    <div class="form-group p-2 m-4">
      <label for="password-login">Password</label>
      <input class="form-input width-2" type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">Login</button>
      <button id="signUp">SignUp</button>
    </div>
  </form>
</section>

<script src="/js/login.js"></script>