<section class="form-container">
  <h2 class="p-2 m-4">Login</h2>
  <form class="form login-form">
      <label for="user-login">Email/Username</label>
    <div class="form-group p-2 m-4">
      <input class="form-input width-2" type="text" id="user-login" />
    </div>
      <label for="password-login">Password</label>
    <div class="form-group p-2 m-4">
      <input class="form-input width-2" type="password" id="password-login" />
    </div>
      <div id="error-message" style="color: red;"></div>
    <div class="form-btn-container">
      <button type="submit">Login</button>
      <button type="button" id="signUp">SignUp</button>
    </div>
  </form>
</section>

<script src="/js/login.js"></script>