<section class="logout-confirm-container">
    <p>You have been successfully logged out.<p>
    <p>Thank you for using WealthWise!</p> 
    <p>Click <a href="/" style="color: blue">here</a> to return to the home page.</p> 
</section>