<section class="form-container">
  <h2>Signup</h2>
  <form class="form signup-form">
    <label for="signup-name">User Name</label>
    <div class="form-group m-2 p-2">
      <input class="form-input" type="text" id="signup-name" autocomplete="username" />
    </div>
    <label for="signup-email">Email</label>
    <div class="form-group m-2 p-2">
      <input class="form-input" type="text" id="signup-email" />
    </div>
    <label for="signup-password">Password</label>
    <div class="form-group m-2 p-2">
      <input class="form-input" type="password" id="signup-password" autocomplete="current-password" />
    </div>
    <div id="error-message" style="color: red;"></div>
    <div class="form-btn-container">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
     <a href="/login" style="color: blue">Already have an account? Login</a>
</section>

<script src="/js/signup.js"></script>