<h2 class="m-2 p-2">Signup</h2>
<form class="form signup-form">
  <div class="form-group m-2 p-2">
    <label for="email-signup">name:</label>
    <input class="form-input" type="text" id="signup_name" />
  </div>
  <div class="form-group m-2 p-2">
    <label for="email-signup">email:</label>
    <input class="form-input" type="text" id="signup_email" />
  </div>
  <div class="form-group m-2 p-2">
    <label for="password-signup">password:</label>
    <input class="form-input" type="password" id="signup_password" />
  </div>
  <div class="form-group m-2 p-2">
    <button class="btn btn-primary" type="submit">save
    </button>
  </div>
</form>

<script src="/js/signup.js"></script>