<section class="form-container">
  <h2>Signup</h2>
  <form class="form signup-form">
    <label for="signup-name">User Name</label>
    <div class="form-group m-2 p-2">
      <input class="form-input" type="text" id="signup-name" />
    </div>
    <label for="signup-email">Email</label>
    <div class="form-group m-2 p-2">
      <input class="form-input" type="text" id="signup-email" />
    </div>
    <label for="signup-password">Password</label>
    <div class="form-group m-2 p-2">
      <input class="form-input" type="password" id="signup-password" />
    </div>
    <div id="error-message" style="color: red;"></div>
    <div class="form-btn-container">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button type="button" href="/login">Login</button>
    </div>
  </form>
</section>

<script src="/js/signup.js"></script>