<section class="unauthorized-container">
        <img src="/images/logo.png" alt="WealthWise Logo">
        <div class="unauthorized-message">
            <h2>Unauthorized Access</h2>
            <hr>
            <p>Thank you for using WealthWise!</p>
            <p>Unfortunately, you do not have permission to access this page.</p>
            <br>
            <p>Click <a href="/" style="color: blue">here</a> to return to the home page.</p>
        </div>
    </section>